body {
  display: flex;
  place-items: center;
  background-image: url("./components/cool-background.png");
  color: rgb(19, 1, 51);
  margin: auto;
}

#root {
  margin: auto;
}

#quiz-container {
  border: solid 2px #535bf2;
  background-color: #b6b8ee;
  border-radius: 50px;
  padding: 35px;
  width: 80%;
  max-width: 87%;
  text-align: center;
  margin: 6em auto;
}

#quiz {
  width: fit-content;
}

#question {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9
}
button:hover {
  border-color: #535bf2;
}

.answers-list {
  display: flex;
  flex-direction: column;
}

.answers {
  margin-bottom: 0.7em;
}

.correctAnswer {
  background-color: green;
}

.incorrectAnswers {
  background-color: rgb(211, 14, 14);
}



